<!DOCTYPE html>
<html>
<head>
	<title>Your Page</title>
	
</head>
<body>
	<a href="/">Back to home page</a>

	<h1> HEY <%=name%> your sign is <%=sign%></h1>
	<h2> <%= horoscope %></h2>

</body>
</html>