<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="style/edit.css">
</head>
	

	<title>Know Your Luck!!!</title>
	
</head>
<body class="backg">
	
	<div class="jumbotron jumbotron-fluid" >
  	<div class="container">
    <h1 class="display-3">You are Special!!! </h1>
    	<p id="p">Just fill your Name and Date of Birth to know how...</p>
    <form action="" method="POST" class="form-inline">
    	<label class="sr-only" for="inlineFormInputName2">Name</label>
		<input type="text" name="name" placeholder="Name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2">
		<!--<div class="input-group mb-2 mr-sm-2">
   

		</div>>-->
		<input type="date" name="date" placeholder="D.O.B" class="form-control mb-2 mr-sm-2">
		<button class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Are you ready!!!">
  Submit </button>

	</form> 
	<span id="share">Share through Whatsapp </span><div class="addthis_inline_share_toolbox"></div>
    
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigsin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f00d8a57fe8780c"></script>

</body>
</html>